body {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #e4e4e4;
  margin: 0;
}


.main-container {
  display: flex;
  height: 100vh;
}

.finance-cats {
  background-color: rgb(218, 218, 218);
  flex: 1;
}

.cat-fact-container {
  flex: 2;
}

.third-section {
  flex: 1;
  background-color: rgb(218,218,218);
}
button {
  margin: 20px;
  padding: 24px;
  background-color: rgb(100, 197, 253);
  border-radius: 18px;
  font-size: 16px;
}



.cat-fact-box {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 480px;
  height: 240px;
  padding: 24px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
  box-sizing: border-box;
}

.cat-fact-box h3 {
  line-height: 1.5;
}

img {
  width: 480px;
  height: auto;
}